<!DOCTYPE html>
<html>

<head>
    <title>Create user</title>
    <link type="text/css" rel="stylesheet" href="/lib/styles.css">
    <link type="test/css" rel="stylesheet" href="/lib/san-francisco.css">
    <script type="text/javascript" src="/lib/create.js"></script>
    <meta charset='utf-8'>
</head>

<body>
<div class="navvy">
    <ul>
        <li><a class="glyphicon glyphicon-home" href="/"></a></li>
        <li>
            {{if eq .UserLoggedIn "Unauthorized"}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-folder-open"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/pages/list"><span class="glyphicon glyphicon-list"></span> List All</a>
                    </div>
                </div>
            {{else}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-folder-open"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/pages/create"><span class="glyphicon glyphicon-file"></span> Create New</a>
                        <a href="/pages/list"><span class="glyphicon glyphicon-list"></span> List All</a>
                        <a href="/pages/stars"><span class="glyphicon glyphicon-heart"></span> Bookmarked</a>
                        <a href="/pages/repairs"><span class="glyphicon glyphicon-wrench"></span> Needs Improvement</a>
                        <a href="/categories/create"><span class="glyphicon glyphicon-tags"></span> Add category</a>
                        <a href="/pages/trash"><span class="glyphicon glyphicon-trash"></span> Recycle Bin</a>
                    </div>
                </div>
            {{end}}
        </li>
        <li><a class="glyphicon glyphicon-blackboard" href="/blackboard"></a></li>
        <li>
            {{if eq .UserLoggedIn "Unauthorized"}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </div>
                </div>
            {{else}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </div>
                </div>
            {{end}}
        </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn"><span class="glyphicon glyphicon-cog"></span>
                </button>
                <div class="dropdown-content">
                    {{if eq .UserLoggedIn "Unauthorized"}}
                        <a href="/users/create"><span class="glyphicon glyphicon-user"></span> Create user</a>
                    {{else}}
                        <a href="/users/create"><span class="glyphicon glyphicon-user"></span> Create user</a>
                        <a href="/ticket/new"><span class="glyphicon glyphicon-earphone"></span> Create Ticket</a>
                        <a href="/ticket/queue"><span class="glyphicon glyphicon-inbox"></span> Ticket Queue</a>
                    {{end}}
                </div>
            </div>
        </li>
    </ul>
</div>
    <div class="clearfix"></div>
    <div class="container">
        <div class="header-text">
            {{if .UserLoggedIn}}
            <h1>Create user</h1>
            {{else}}
            <h1>Create user</h1>
            {{end}}
        </div>
        <div class="create-user">
            <table>
                <form action="/users/create/" method="POST">
                    <tr>
                        <td colspan="2">
                            <p>Please fill in this form to create an account.</p>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="name"><b>Name</b></label></td>
                        <td><input type="text" placeholder="Enter Name" name="name" id="name" onkeyup='validate_form();'
                                required></td>
                    </tr>
                    <tr>
                        <td colspan="2">Please enter your First name, middle name and last name</td>
                    </tr>
                    <tr>
                        <td colspan="2"><span id='message_name'></span></td>
                    </tr>
                    <tr>
                        <td><label for="username"><b>Username</b></label></td>
                        <td><input type="text" placeholder="Enter Username" name="username" id="username"
                                onkeyup='validate_form();' required></td>
                    </tr>
                    <tr>
                        <td colspan="2">1-15 characters, allowed characters:
                            [a-Z0-9_]</td>
                    </tr>
                    <tr>
                        <td colspan="2"><span id='message_username'></span></td>
                    </tr>
                    <tr>
                        <td><label for="email"><b>Email</b></label></td>
                        <td><input type="text" placeholder="Enter Email" name="email" id="email"
                                onkeyup='validate_form();' required></td>
                    </tr>
                    <tr>
                        <td colspan="2">Please enter your E-Mail</td>
                    </tr>
                    <tr>
                        <td colspan="2"><span id='message_email'></span></td>
                    </tr>
                    <tr>
                        <td><label for="password"><b>Password</b></label></td>
                        <td><input type="password" placeholder="Enter Password" name="password" id="password"
                                onkeyup='validate_form();' required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">8-60 characters. Combination of uppercase, lowercase, special character and
                            number.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span id='message_pw_complex'></span></td>
                    </tr>
                    <tr>
                        <td><label for="password-repeat"><b>Repeat Password</b></label></td>
                        <td><input type="password" placeholder="Repeat Password" name="password-repeat"
                                id="password-repeat" onkeyup='validate_form();' required></td>
                    </tr>
                    <tr>
                        <td colspan="2"><span id='message_pw_repeat'></span></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit" id="submit-button" disabled>{{if .UserLoggedIn}}Create
                                user{{else}}Sign
                                in{{end}}</button></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</body>

</html>
