<!DOCTYPE html>
<html>

<head>
    <title>Create Wiki Page</title>
    <link type="text/css" rel="stylesheet" href="/lib/styles.css">
    <link type="test/css" rel="stylesheet" href="/lib/san-francisco.css">
    <script src="/lib/jquery.min.js"></script>
    <link href="/lib/textareafullscreen.css" rel="stylesheet">
    <script src="/lib/jquery.textareafullscreen.js"></script>
    <meta charset='utf-8'>
</head>

<body>
<div id="ModalUpload" class="modal">
    <div class="modal-upload">
        <span class="close-upload">&times;</span>
        <h1>Upload a file</h1>
        <br>
        <form enctype="multipart/form-data" action="/pages/upload/" target="_blank" method="POST">
            <div class="container-d">
                <div class="file-upload-wrapper" data-text="Select file to upload">
                    <input name="file-upload-field" id="file-upload-field" type="file" class="file-upload-field" value="">
                </div>
                <div class="right-no-border">
                    <input id="upload" type="submit" value="Upload" disabled/>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="navvy">
    <ul>
        <li><a class="glyphicon glyphicon-home" href="/"></a></li>
        <li>
            {{if eq .UserLoggedIn "Unauthorized"}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-folder-open"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/pages/list"><span class="glyphicon glyphicon-list"></span> List All</a>
                    </div>
                </div>
            {{else}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-folder-open"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/pages/create"><span class="glyphicon glyphicon-file"></span> Create New</a>
                        <a href="/pages/list"><span class="glyphicon glyphicon-list"></span> List All</a>
                        <a href="/pages/stars"><span class="glyphicon glyphicon-heart"></span> Bookmarked</a>
                        <a href="/pages/repairs"><span class="glyphicon glyphicon-wrench"></span> Needs Improvement</a>
                        <a href="/categories/create"><span class="glyphicon glyphicon-tags"></span> Add category</a>
                        <a href="/pages/trash"><span class="glyphicon glyphicon-trash"></span> Recycle Bin</a>
                    </div>
                </div>
            {{end}}
        </li>
        <li><a class="glyphicon glyphicon-blackboard" href="/blackboard"></a></li>
        <li>
            {{if eq .UserLoggedIn "Unauthorized"}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </div>
                </div>
            {{else}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </div>
                </div>
            {{end}}
        </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn"><span class="glyphicon glyphicon-cog"></span>
                </button>
                <div class="dropdown-content">
                    {{if eq .UserLoggedIn "Unauthorized"}}
                        <a href="/users/create"><span class="glyphicon glyphicon-user"></span> Create user</a>
                    {{else}}
                        <a href="/users/create"><span class="glyphicon glyphicon-user"></span> Create user</a>
                        <a href="/ticket/new"><span class="glyphicon glyphicon-earphone"></span> Create Ticket</a>
                        <a href="/ticket/queue"><span class="glyphicon glyphicon-inbox"></span> Ticket Queue</a>
                    {{end}}
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <div class="header-text"><h1>Create New Page</h1></div>
    <div style="font-size: 25px;">
    <a id="ModalButtonUpload" href="#"><span class="glyphicon glyphicon-upload"></span></a>
    </div>
    <form action="/pages/create/" method="POST">
        <div class="control-group">
            <div class="controls">
                <textarea name="title" cols="1" rows="1" placeholder="Enter Wiki page title here"></textarea>
            </div>
            {{.DisplayComment}}
            <div class="controls">
                <textarea name="body" id="body" cols="80"></textarea>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input id="submit" type="submit" value="Preview & Save">
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="/lib/upload.js"></script>
    <script type="text/javascript" src="/lib/edit.js"></script>
</div>
</body>

</html>