<!DOCTYPE html>
<html>

<head>
    <title>Create Wiki Page</title>
    <link type="text/css" rel="stylesheet" href="/lib/styles.css">
    <link type="test/css" rel="stylesheet" href="/lib/san-francisco.css">
    <script src="/lib/jquery.min.js"></script>
    <link href="/lib/textareafullscreen.css" rel="stylesheet">
    <script src="/lib/jquery.textareafullscreen.js"></script>
    <meta charset='utf-8'>
</head>

<body>
<div id="ModalUpload" class="modal">
    <div class="modal-upload">
        <span class="close-upload">&times;</span>
        <h1>Upload a file</h1>
        <br>
        <form enctype="multipart/form-data" action="/pages/upload/" target="_blank" method="POST">
            <div class="container-d">
                <div class="file-upload-wrapper" data-text="Select file to upload">
                    <input name="file-upload-field" id="file-upload-field" type="file" class="file-upload-field" value="">
                </div>
                <div class="right-no-border">
                    <input id="upload" type="submit" value="Upload" disabled/>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="navvy">
    <ul>
        <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li>
            {{if eq .UserLoggedIn "Unauthorized"}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/users/login" class="glyphicon glyphicon-log-in">Login</a>
                    </div>
                </div>
            {{else}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/users/logout" class="glyphicon glyphicon-log-out">Logout</a>
                    </div>
                </div>
            {{end}}
        </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn"><span class="glyphicon glyphicon-cog"></span>
                </button>
                <div class="dropdown-content">
                    {{if eq .UserLoggedIn "Unauthorized"}}
                        <a class="glyphicon glyphicon-user" href="/users/create">Create user</a>
                    {{else}}
                        <a class="glyphicon glyphicon-user" href="/users/create">Create user</a>
                        <a class="glyphicon glyphicon-earphone" href="/ticket/queue">Ticket Queue</a>
                        <a class="glyphicon glyphicon-tags" href="/categories/create">Add category</a>
                        <a class="glyphicon glyphicon-trash" href="/pages/trash">Recycle Bin</a>
                    {{end}}
                </div>
            </div>
        </li>
        <li><a class="glyphicon glyphicon-earphone" href="/ticket/new"></a></li>
    </ul>
</div>
<div class="container">
    <div class="header-text"><h1>Create New Page</h1></div>
    <div style="font-size: 25px;">
    <a id="ModalButtonUpload" href="#"><span class="glyphicon glyphicon-upload"></span></a>
    </div>
    <form action="/pages/create/" method="POST">
        <div class="control-group">
            <div class="controls">
                <textarea name="title" cols="1" rows="1" placeholder="Enter Wiki page title here"></textarea>
            </div>
            {{.DisplayComment}}
            <div class="controls">
                <textarea name="body" id="body" cols="80"></textarea>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input id="submit" type="submit" value="Preview & Save">
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="/lib/upload.js"></script>
    <script type="text/javascript" src="/lib/edit.js"></script>
</div>
</body>

</html>