<!DOCTYPE html>
<html>

<head>
    <title>Keepsake - Dashboard</title>
    <link type="text/css" rel="stylesheet" href="/lib/styles.css">
    <link type="test/css" rel="stylesheet" href="/lib/san-francisco.css">
    <meta charset='utf-8'>
</head>

<body>
    <div class="navvy">
        <ul>
            <li class="menu-home"><a href="/"></a></li>
            {{if eq .UserLoggedIn "Unauthorized"}}
            {{else}}
                <li class="menu-create"><a href="/pages/create"></a></li>
            {{end}}
            <li class="menu-list"><a href="/pages/list"></a></li>
            <li>
                {{if eq .UserLoggedIn "Unauthorized"}}
                    <div class="dropdown">
                        <button class="dropbtn user"></button>
                        <div class="dropdown-content-right menu-login">
                            <a href="/users/login">Login</a>
                        </div>
                    </div>
                {{else}}
                    <div class="dropdown">
                        <button class="dropbtn user"></button>
                        <div class="dropdown-content-right menu-login">
                            <a href="/users/logout">Logout</a>
                        </div>
                    </div>
                {{end}}
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn setting">
                    </button>
                    <div class="dropdown-content">
                        {{if eq .UserLoggedIn "Unauthorized"}}
                        <a class="menu-user-add" href="/users/create">Create user</a>
                        {{else}}
                        <a class="menu-user-add" href="/users/create">Create user</a>
                        <a class="menu-ticket-queue" href="/ticket/queue">Ticket Queue</a>
                        <a class="menu-category" href="/categories/create">Add category</a>
                        <a class="menu-recycle-bin" href="/pages/trash">Recycle Bin</a>
                        {{end}}
                    </div>
                </div>
            </li>
            <li class="menu-help"><a href="/ticket/new"></a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <div><div class="container-d">
                <div class="header-text left-d"><h1>What's New?</h1></div>
                <form id="searchForm" action="/pages/search" method="GET">
                    <div class="control-group search-container right-d">
                        <div class="controls">
                            <input type="search" class="search-input" id="inputQuery" name="q" placeholder="Search" value="">
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input class="navbar-search-button" id="submit" type="submit" value="Search">
                            </div>
                        </div>
                    </div>
                </form></div>
            <div class="dashboard">
                24 Sept 2020 - <a href="/pages/search/raw/?q=">Search Raw</a> has been added. <br>
                Check it out by using <code>curl -k ${HOST}/pages/search/raw/?q=${SEARCHQUERY}</code> in your terminal.
                <br>
                23 Sept 2020 - <a href="/pages/view/raw/1">View Raw</a> has been added. <br>
                Check it out either on web by clicking the <img src="/lib/icons/save-24px.svg"> next to the title or using <code>curl -k ${HOST}/pages/raw/${ID}</code> in your terminal.
                <br>
                22 Sept 2020 - <a href="/pages/list">View All</a> has been added. Check it out!
                <br>
                18 Sept 2020 - <a href="/dashboard">New Vertical Design</a> introduced!
            </div>
            {{.DisplayComment}}</div>
        <div>{{.DisplayBody}}</div>
    </div>
    <script type="text/javascript" src="/lib/trash.js"></script>
    <script type="text/javascript" src="/lib/edit.js"></script>
    <div class="container">
        &nbsp;2020 © <a href="http://www.github.com/zerodayz" target="_blank">Robin Černín</a>. Brisbane, Australia.
    </div>
</body>

</html>
