<!DOCTYPE html>
<html>

<head>
    <title>Editing {{.Title}}</title>
    <link type="text/css" rel="stylesheet" href="/lib/styles.css">
    <link type="test/css" rel="stylesheet" href="/lib/san-francisco.css">
    <script src="/lib/jquery.min.js"></script>
    <link href="/lib/textareafullscreen.css" rel="stylesheet">
    <script src="/lib/jquery.textareafullscreen.js"></script>
    <meta charset='utf-8'>
</head>

<body>
<div id="Modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Are you sure ?</h1>
        <br>
        <p>Do you really want to delete the page {{.Title}}</p>
        <a href="/pages/delete/{{.InternalId}}">Yes!</a> Please delete the page.<br>
    </div>
</div>
<div class="navvy">
    <ul>
        <li class="menu-home"><a href="/"></a></li>
        <li>
            {{if eq .UserLoggedIn "Unauthorized"}}
                <div class="dropdown">
                    <button class="dropbtn user"></button>
                    <div class="dropdown-content-right menu-login">
                        <a href="/users/login">Login</a>
                    </div>
                </div>
            {{else}}
                <div class="dropdown">
                    <button class="dropbtn user"></button>
                    <div class="dropdown-content-right menu-login">
                        <a href="/users/logout">Logout</a>
                    </div>
                </div>
            {{end}}
        </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn setting">
                </button>
                <div class="dropdown-content">
                    {{if eq .UserLoggedIn "Unauthorized"}}
                        <a class="menu-user-add" href="/users/create">Create user</a>
                    {{else}}
                        <a class="menu-user-add" href="/users/create">Create user</a>
                        <a class="menu-ticket-queue" href="/ticket/queue">Ticket Queue</a>
                        <a class="menu-category" href="/categories/create">Add category</a>
                        <a class="menu-recycle-bin" href="/pages/trash">Recycle Bin</a>
                    {{end}}
                </div>
            </div>
        </li>
        <li class="menu-help"><a href="/ticket/new"></a></li>
    </ul>
</div>
<div class="clearfix"></div>
<div class="container">
    {{if eq .UserLoggedIn "Unauthorized"}}
        <div class="header-text"><h1>Editing {{.Title}}</h1></div>
    {{else}}
        <div class="header-text"><h1>Editing {{.Title}} <a id="ModalButton" href="#"><img src="/lib/icons/delete-24px.svg"></a></h1></div>
    {{end}}
    <form action="/pages/save/{{.InternalId}}" method="POST">
        <div class="control-group">
            <div class="controls">
                <textarea name="title" cols="1" rows="1" placeholder="Enter Wiki page title here">{{printf "%s" .Title}}</textarea>
            </div>
            {{.DisplayComment}}
            <div class="controls">
                <textarea name="body" id="body" rows="14" cols="80">{{printf "%s" .Body}}</textarea>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input id="submit" type="submit" value="Preview & Save">
                </div>
            </div>
        </div>
    </form>

    <form enctype="multipart/form-data" action="/pages/upload/" target="_blank" method="POST">
        <div class="container-d">
            <div class="file-upload-wrapper left-no-border" data-text="Select file to upload">
                <input name="file-upload-field" id="file-upload-field" type="file" class="file-upload-field" value="">
            </div>
            <div class="right-no-border">
                <input id="upload" type="submit" value="Upload" disabled/>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/lib/underscore-min.js"></script>
<script type="text/javascript" src="/lib/upload.js"></script>
<script type="text/javascript" src="/lib/edit.js"></script>
</body>

</html>