<!DOCTYPE html>
<html>

<head>
    <title>Keepsake - View All</title>
    <link type="text/css" rel="stylesheet" href="/lib/styles.css">
    <link type="test/css" rel="stylesheet" href="/lib/san-francisco.css">
    <meta charset='utf-8'>
</head>

<body>
    <div class="navvy">
        <ul>
            <li class="menu-home"><a href="/"></a></li>
            {{if eq .UserLoggedIn "Unauthorized"}}
            {{else}}
                <li class="menu-create"><a href="/pages/create"></a></li>
            {{end}}
            <li class="menu-list"><a href="/pages/list"></a></li>
            {{if eq .UserLoggedIn "Unauthorized"}}
            {{else}}
                <li class="menu-stars"><a href="/pages/stars"></a></li>
                <li class="menu-repairs"><a href="/pages/repairs"></a></li>
            {{end}}
            <li>
                {{if eq .UserLoggedIn "Unauthorized"}}
                    <div class="dropdown">
                        <button class="dropbtn user"></button>
                        <div class="dropdown-content-right menu-login">
                            <a href="/users/login">Login</a>
                        </div>
                    </div>
                {{else}}
                    <div class="dropdown">
                        <button class="dropbtn user"></button>
                        <div class="dropdown-content-right menu-login">
                            <a href="/users/logout">Logout</a>
                        </div>
                    </div>
                {{end}}
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn setting">
                    </button>
                    <div class="dropdown-content">
                        {{if eq .UserLoggedIn "Unauthorized"}}
                        <a class="menu-user-add" href="/users/create">Create user</a>
                        {{else}}
                        <a class="menu-user-add" href="/users/create">Create user</a>
                        <a class="menu-ticket-queue" href="/ticket/queue">Ticket Queue</a>
                        <a class="menu-category" href="/categories/create">Add category</a>
                        <a class="menu-recycle-bin" href="/pages/trash">Recycle Bin</a>
                        {{end}}
                    </div>
                </div>
            </li>
            <li class="menu-help"><a href="/ticket/new"></a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <div>{{.DisplayBody}}</div>
    </div>
    <div class="clearfix"></div>
    <br>
    <script type="text/javascript" src="/lib/trash.js"></script>
    <script type="text/javascript" src="/lib/list.js"></script>
    {{/*    <script type="text/javascript" src="/lib/pagination.js"></script>*/}}
    <script type="text/javascript" src="/lib/underscore-min.js"></script>

</body>

</html>
