<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}}</title>
    <link type="text/css" rel="stylesheet" href="/lib/styles.css">
    <link type="test/css" rel="stylesheet" href="/lib/san-francisco.css">
    <meta charset='utf-8'>
</head>

<body style="background-color: #121212">
    <div class="clearfix"></div>
    <div class="container">
        <script type="text/javascript" src="/lib/view.js"></script>
            <h1>Preview of {{.Title}}</h1>
        <div>
            Created by {{.CreatedBy}} on {{.DateCreated}} UTC
            {{ if .LastModifiedBy }}
            <br>
            Last Modified by {{.LastModifiedBy}} on {{.LastModified}} UTC
            {{ end }}
            <br>
            {{ if .Tags }}
                Categories:
                {{ range $i, $el := .Tags }}
                    <div class="categories">{{ $el }}</div>
                {{ end }}
            {{ end }}
        </div>
        <br>
        <div>{{.DisplayBody}}</div>
        <button onclick="goBack()">Go Back</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <form target='_parent' style="display: inline" action="/preview/create/{{.InternalId}}">
            <input type="submit" value="Save" />
        </form>

    </div>
</body>

</html>