<!DOCTYPE html>
<html>

<head>
    <title>Preview of {{.Title}}</title>
    <link type="text/css" rel="stylesheet" href="/lib/styles.css">
    <link type="test/css" rel="stylesheet" href="/lib/san-francisco.css">
    <meta charset='utf-8'>
</head>

<body>
<div class="navvy">
    <ul>
        <li><a class="glyphicon glyphicon-home" href="/"></a></li>
        {{if eq .UserLoggedIn "Unauthorized"}}
            <li class="menu-revisions"><a id="ModalButtonHistory" href="#"></a></li>
        {{else}}
        {{end}}
        <li>
            {{if eq .UserLoggedIn "Unauthorized"}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                    <div class="dropdown-content-right">
                        <a class="glyphicon glyphicon-log-in" href="/users/login">Login</a>
                    </div>
                </div>
            {{else}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                    <div class="dropdown-content-right">
                        <a class="glyphicon glyphicon-log-out" href="/users/logout">Logout</a>
                    </div>
                </div>
            {{end}}
        </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn"><span class="glyphicon glyphicon-cog"></span>
                </button>
                <div class="dropdown-content">
                    {{if eq .UserLoggedIn "Unauthorized"}}
                        <a class="glyphicon glyphicon-user" href="/users/create">Create user</a>
                    {{else}}
                        <a class="glyphicon glyphicon-user" href="/users/create">Create user</a>
                        <a class="glyphicon glyphicon-earphone" href="/ticket/queue">Ticket Queue</a>
                        <a class="glyphicon glyphicon-tags" href="/categories/create">Add category</a>
                        <a class="glyphicon glyphicon-trash" href="/pages/trash">Recycle Bin</a>
                    {{end}}
                </div>
            </div>
        </li>
        <li><a class="glyphicon glyphicon-earphone" href="/ticket/new"></a></li>
    </ul>
</div>
    <div class="clearfix"></div>
    <div class="container">
        <script type="text/javascript" src="/lib/view.js"></script>
        <div class="header-text"><h1>Preview of {{.Title}}</h1></div>
        <div>
            Created by {{.CreatedBy}} on {{.DateCreated}} UTC
            {{ if .LastModifiedBy }}
            <br>
            Last Modified by {{.LastModifiedBy}} on {{.LastModified}} UTC
            {{ end }}
            <br>
            {{ if .Tags }}
                Categories:
                {{ range $i, $el := .Tags }}
                    <div class="categories">{{ $el }}</div>
                {{ end }}
            {{ end }}
        </div>
        <br>
        <div>{{.DisplayBody}}</div>
        <button onclick="goBack()">Go Back</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <form style="display: inline" action="/preview/create/{{.InternalId}}">
            <input type="submit" value="Save" />
        </form>

    </div>
</body>

</html>