<!DOCTYPE html>
<html>

<head>
    <title>{{.WikiPageRevision.Title}}</title>
    <link type="text/css" rel="stylesheet" href="/lib/styles.css">
    <link type="test/css" rel="stylesheet" href="/lib/san-francisco.css">
    <meta charset='utf-8'>
</head>

<body>
<div class="navvy">
    <ul>
        <img src="/lib/images/KeepsakeLogo.png" style="width: 27px; margin-left: 5px; margin-top: 5px">
        <li><a class="glyphicon glyphicon-home" href="/"></a></li>
        <li>
            {{if eq .WikiPageRevision.UserLoggedIn "Unauthorized"}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-folder-open"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/pages/list"><span class="glyphicon glyphicon-list"></span> List All</a>
                    </div>
                </div>
            {{else}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-folder-open"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/pages/create"><span class="glyphicon glyphicon-file"></span> Create New</a>
                        <a href="/pages/list"><span class="glyphicon glyphicon-list"></span> List All</a>
                        <a href="/pages/stars"><span class="glyphicon glyphicon-heart"></span> Bookmarked</a>
                        <a href="/pages/repairs"><span class="glyphicon glyphicon-wrench"></span> Needs Improvement</a>
                        <a href="/categories/create"><span class="glyphicon glyphicon-tags"></span> Add category</a>
                        <a href="/pages/trash"><span class="glyphicon glyphicon-trash"></span> Recycle Bin</a>
                    </div>
                </div>
            {{end}}
        </li>
        <li><a class="glyphicon glyphicon-blackboard" href="/blackboard"></a></li>
        <li>
            {{if eq .WikiPageRevision.UserLoggedIn "Unauthorized"}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </div>
                </div>
            {{else}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                    <div class="dropdown-content-right">
                        <a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </div>
                </div>
            {{end}}
        </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn"><span class="glyphicon glyphicon-cog"></span>
                </button>
                <div class="dropdown-content">
                    {{if eq .WikiPageRevision.UserLoggedIn "Unauthorized"}}
                        <a href="/users/create"><span class="glyphicon glyphicon-user"></span> Create user</a>
                    {{else}}
                        <a href="/users/create"><span class="glyphicon glyphicon-user"></span> Create user</a>
                        <a href="/ticket/new"><span class="glyphicon glyphicon-earphone"></span> Create Ticket</a>
                        <a href="/ticket/queue"><span class="glyphicon glyphicon-inbox"></span> Ticket Queue</a>
                    {{end}}
                </div>
            </div>
        </li>
    </ul>
</div>
    <div class="clearfix"></div>
    <div class="container">
    <div class="left">
        <script type="text/javascript" src="/lib/view.js"></script>
        <div class="header-text">
            <h1>Revision {{.WikiPageRevision.RevisionId}} of {{.WikiPageRevision.Title}}</h1>
            {{if eq .WikiPageRevision.UserLoggedIn "Unauthorized"}}
            {{else}}
                <br><a href="/revisions/rollback/{{.WikiPageRevision.InternalId}}">Rollback to this version</a>
            {{end}}
        </div>
        <div>
            Created by {{.WikiPageRevision.CreatedBy}} on {{.WikiPageRevision.DateCreated}} UTC
            {{ if .WikiPageRevision.LastModifiedBy }}
            <br>
            Last Modified by {{.WikiPageRevision.LastModifiedBy}} on {{.WikiPageRevision.LastModified}} UTC
            {{ end }}
            <br>
            {{ if .WikiPageRevision.Tags }}
                Categories:
                {{ range $i, $el := .WikiPageRevision.Tags }}
                    <div class="categories">{{ $el }}</div>
                {{ end }}
            {{ end }}
        </div>
        <br>
        <div>{{.WikiPageRevision.DisplayBody}}</div>
    </div>
    <div class="right">
        <script type="text/javascript" src="/lib/edit.js"></script>
        <div class="header-text">
            <h1>Current version of {{.WikiPage.Title}}</h1>
            <br><a href="/pages/view/{{.WikiPageRevision.WikiPageId}}">Visit current version</a>
        </div>
        <div>
            Created by {{.WikiPage.CreatedBy}} on {{.WikiPage.DateCreated}} UTC
            {{ if .WikiPage.LastModifiedBy }}
                <br>
                Last Modified by {{.WikiPage.LastModifiedBy}} on {{.WikiPage.LastModified}} UTC
            {{ end }}
            <br>
            {{ if .WikiPage.Tags }}
                Categories:
                {{ range $i, $el := .WikiPage.Tags }}
                    <div class="categories">{{ $el }}</div>
                {{ end }}
            {{ end }}
        </div>
        <br>
        <div>{{.WikiPage.DisplayBody}}</div>
    </div>
    </div>
    <div class="container">
        &nbsp;2020 © <a href="http://www.github.com/zerodayz" rel="noreferrer" target="_blank">Robin Černín</a>. Brisbane, Australia.
    </div>
</body>

</html>
