<!DOCTYPE html>
<html>

<head>
    <title>Search for {{ if .Title }} {{.Title}} {{else}} empty. {{end}}</title>
    <link type="text/css" rel="stylesheet" href="/lib/styles.css">
    <link type="test/css" rel="stylesheet" href="/lib/san-francisco.css">
    <meta charset='utf-8'>
</head>

<body>
<div class="navvy">
    <ul>
        <li><a class="glyphicon glyphicon-home" href="/"></a></li>
        {{if eq .UserLoggedIn "Unauthorized"}}
        {{else}}
            <li><a class="glyphicon glyphicon-file" href="/pages/create"></a></li>
        {{end}}
        <li>
            {{if eq .UserLoggedIn "Unauthorized"}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                    <div class="dropdown-content-right">
                        <a class="glyphicon glyphicon-log-in" href="/users/login">Login</a>
                    </div>
                </div>
            {{else}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                    <div class="dropdown-content-right">
                        <a class="glyphicon glyphicon-log-out" href="/users/logout">Logout</a>
                    </div>
                </div>
            {{end}}
        </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn"><span class="glyphicon glyphicon-cog"></span>
                </button>
                <div class="dropdown-content">
                    {{if eq .UserLoggedIn "Unauthorized"}}
                        <a class="glyphicon glyphicon-user" href="/users/create">Create user</a>
                    {{else}}
                        <a class="glyphicon glyphicon-user" href="/users/create">Create user</a>
                        <a class="glyphicon glyphicon-earphone" href="/ticket/queue">Ticket Queue</a>
                        <a class="glyphicon glyphicon-tags" href="/categories/create">Add category</a>
                        <a class="glyphicon glyphicon-trash" href="/pages/trash">Recycle Bin</a>
                    {{end}}
                </div>
            </div>
        </li>
        <li><a class="glyphicon glyphicon-earphone" href="/ticket/new"></a></li>
    </ul>
</div>
    <div class="clearfix"></div>
    <div class="container">
        <div class="container-d">
            <div class="header-text left-d"><h1>Search Query is {{ if .Title }} {{.Title}} {{else}} empty. {{end}}</h1></div>
            <form id="searchForm" action="/pages/search" method="GET">
                <div class="control-group search-container right-d">
                    <div class="controls inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="search" class="search-input" id="inputQuery" name="q" value="">
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input class="navbar-search-button" id="submit" type="submit" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div>{{.DisplayBody}}</div>
        <script type="text/javascript" src="/lib/edit.js"></script>
        <script type="text/javascript" src="/lib/search.js"></script>
        <script type="text/javascript" src="/lib/underscore-min.js"></script>
    </div>
</body>

</html>
