<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}}</title>
    <link type="text/css" rel="stylesheet" href="/lib/styles.css">
    <link type="test/css" rel="stylesheet" href="/lib/san-francisco.css">
    <meta charset='utf-8'>
</head>

<body>
    <div id="Modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Are you sure ?</h1>
            <br>
            <p>Do you really want to delete the page {{.Title}}</p>
            <a href="/pages/delete/{{.InternalId}}">Yes!</a> Please delete the page.<br>
        </div>
    </div>
    <div id="ModalHistory" class="modal">
        <div class="modal-content-history-page">
            <span class="close-history">&times;</span>
            <iframe style="border: 0px; width: calc(100% - 20px);" height="600" src="/pages/revisions/{{.InternalId}}"></iframe>
        </div>
    </div>
    <div id="ModalNeedsImprovement" class="modal">
        <div class="modal-content-needs-improvement">
            <span class="close-needs-improvement">&times;</span>
            <h1>Does this page Needs Improvement?</h1>
            <br>
            <p>Please let us know what you think could be improved in {{.Title}}</p>
            <form action="/pages/repair/{{.InternalId}}" method="POST">
                <div class="control-group">
                    <div class="controls">
                        <span id="comment_title"></span>
                        Short Description: <textarea onkeyup='validate_form();' id="comment_title_value" name="comment_title" cols="1"></textarea>
                    </div>
                    <div class="controls">
                        <span id="comment_message"></span>
                        Body: <textarea onkeyup='validate_form();' id="comment_message_value" name="comment_message" rows="10" cols="80"></textarea>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input id="submit-button" type="submit" value="Send" disabled>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="navvy">
        <ul>
            <li class="menu-home"><a href="/"></a></li>
            {{if eq .UserLoggedIn "Unauthorized"}}
                <li class="menu-revisions"><a id="ModalButtonHistory" href="#"></a></li>
            {{else}}
                <li class="menu-create"><a href="/pages/create/"></a></li>
                <li class="menu-edit"><a href="/pages/edit/{{.InternalId}}"></a></li>
                <li class="menu-revisions"><a id="ModalButtonHistory" href="#"></a></li>
                <li class="menu-delete"><a id="ModalButton" href="#"></a></li>
            {{end}}
                <li>
                    {{if eq .UserLoggedIn "Unauthorized"}}
                    <div class="dropdown">
                        <button class="dropbtn user"></button>
                        <div class="dropdown-content-right menu-login">
                            <a href="/users/login">Login</a>
                        </div>
                    </div>
                    {{else}}
                    <div class="dropdown">
                        <button class="dropbtn user"></button>
                        <div class="dropdown-content-right menu-login">
                            <a href="/users/logout">Logout</a>
                        </div>
                    </div>
                    {{end}}
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn setting">
                        </button>
                        <div class="dropdown-content">
                            {{if eq .UserLoggedIn "Unauthorized"}}
                            <a class="menu-user-add" href="/users/create">Create user</a>
                            {{else}}
                            <a class="menu-user-add" href="/users/create">Create user</a>
                            <a class="menu-ticket-queue" href="/ticket/queue">Ticket Queue</a>
                            <a class="menu-category" href="/categories/create">Add category</a>
                            <a class="menu-recycle-bin" href="/pages/trash">Recycle Bin</a>
                            {{end}}
                        </div>
                    </div>
                </li>
                <li class="menu-help"><a href="/ticket/new"></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="container">
            <div class="header-text">
                <h1>{{.Title}} {{ if eq .Deleted 1 }} (deleted) {{end}} <a href="/pages/view/raw/{{.InternalId}}"><img src="/lib/icons/save-24px.svg"></a>
                    {{if eq .UserLoggedIn "Unauthorized"}}
                    {{else}}
                        {{if eq .Liked 2}}
                            <a href="/pages/like/{{.InternalId}}"><img src="/lib/icons/thumb_up_alt-24px.svg"></a>
                        {{else if eq .Liked 1}}
                            <a href="/pages/like/{{.InternalId}}"><img src="/lib/icons/thumb_up_alt-24px-2.svg"></a>
                        {{else if eq .Liked 0}}
                            <a href="/pages/like/{{.InternalId}}"><img src="/lib/icons/thumb_up_alt-24px.svg"></a>
                        {{end}}
                        {{if eq .Repair 2}}
                            <a id="ModalButtonNeedsImprovement" href="#"><img src="/lib/icons/home_repair_service-24px.svg"></a>
                        {{else if eq .Repair 1}}
                            <a href="/pages/repair/{{.InternalId}}"><img src="/lib/icons/home_repair_service-24px-2.svg"></a>
                        {{else if eq .Repair 0}}
                            <a id="ModalButtonNeedsImprovement" href="#"><img src="/lib/icons/home_repair_service-24px.svg"></a>
                        {{end}}
                    {{end}}
                </h1>
            </div>
            <div>
                Created by {{.CreatedBy}} on {{.DateCreated}} UTC
                {{ if .LastModifiedBy }}
                <br>
                Last Modified by {{.LastModifiedBy}} on {{.LastModified}} UTC
                {{ end }}
                <br>
                {{ if .Tags }}
                    Categories:
                    {{ range $i, $el := .Tags }}
                        <div class="categories">{{ $el }}</div>
                    {{ end }}
                {{ end }}
            </div>
            <br>
            <div>{{.DisplayBody}}</div>
        </div>
        <div class="clearfix"></div>
        <div class="container">
            <div>
                <h1>Comments</h1>
            </div>
            <div>
                {{if eq .UserLoggedIn "Unauthorized"}}
                {{else}}
                <div class="found">
                    <h1 class="comment-collapsible">Add new</h1>
                    <div>
                        <form action="/comments/create/{{.InternalId}}" method="POST">
                            <div class="control-group">
                                <div class="controls">
                                    <span id="comment_title"></span>
                                    Short Description: <textarea onkeyup='validate_form();' id="comment_title_value" name="comment_title" cols="1"></textarea>
                                </div>
                                <div class="controls">
                                    <span id="comment_message"></span>
                                    Body: <textarea onkeyup='validate_form();' id="comment_message_value" name="comment_message" rows="10" cols="80"></textarea>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input id="submit-button" type="submit" value="Send" disabled>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {{end}}
                <div>{{.DisplayComment}}</div>
            </div>
            {{if eq .UserLoggedIn "Unauthorized"}}
            <script type="text/javascript" src="/lib/edit-noperms.js"></script>
            {{else}}
            <script type="text/javascript" src="/lib/edit.js"></script>
            {{end}}
        </div>
        <div class="container">
            &nbsp;2020 © <a href="http://www.github.com/zerodayz" rel="noreferrer" target="_blank">Robin Černín</a>. Brisbane, Australia.
        </div>
</body>

</html>