<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}}</title>
    <link type="text/css" rel="stylesheet" href="/lib/styles.css">
    <link type="test/css" rel="stylesheet" href="/lib/san-francisco.css">
    <meta charset='utf-8'>
</head>

<body>
    <div id="Modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Are you sure ?</h1>
            <br>
            <p>Do you really want to delete the page {{.Title}}</p>
            <a href="/pages/delete/{{.InternalId}}">Yes!</a> Please delete the page.<br>
        </div>
    </div>
    <div id="ModalHistory" class="modal">
        <div class="modal-content-history-page">
            <span class="close-history">&times;</span>
            <iframe style="border: 0px; width: calc(100% - 20px);" height="600" src="/pages/revisions/{{.InternalId}}"></iframe>
        </div>
    </div>
    <div id="ModalNeedsImprovement" class="modal">
        <div class="modal-content-needs-improvement">
            <span class="close-needs-improvement">&times;</span>
            <h1>Does this page Needs Improvement?</h1>
            <br>
            <p>Please let us know what you think could be improved in {{.Title}}</p>
            <form action="/pages/repair/{{.InternalId}}" method="POST">
                <div class="control-group">
                    <div class="controls">
                        <span id="comment_title_needs_improvement"></span>
                        Short Description: <textarea onkeyup='validate_form_needs_improvement();' id="comment_title_value_needs_improvement" name="comment_title_needs_improvement" cols="1"></textarea>
                    </div>
                    <div class="controls">
                        <span id="comment_message_needs_improvement"></span>
                        Body: <textarea onkeyup='validate_form_needs_improvement();' id="comment_message_value_needs_improvement" name="comment_message_needs_improvement" rows="10" cols="80"></textarea>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input id="submit-button_needs_improvement" type="submit" value="Send" disabled>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="navvy">
        <ul>
            <li><a class="glyphicon glyphicon-home" href="/"></a></li>
            <li>
                {{if eq .UserLoggedIn "Unauthorized"}}
                    <div class="dropdown">
                        <button class="dropbtn"><span class="glyphicon glyphicon-folder-open"></span></button>
                        <div class="dropdown-content-right">
                            <a href="/pages/list"><span class="glyphicon glyphicon-list"></span> List All</a>
                        </div>
                    </div>
                {{else}}
                    <div class="dropdown">
                        <button class="dropbtn"><span class="glyphicon glyphicon-folder-open"></span></button>
                        <div class="dropdown-content-right">
                            <a href="/pages/create"><span class="glyphicon glyphicon-file"></span> Create New</a>
                            <a href="/pages/list"><span class="glyphicon glyphicon-list"></span> List All</a>
                            <a href="/pages/stars"><span class="glyphicon glyphicon-heart"></span> Bookmarked</a>
                            <a href="/pages/repairs"><span class="glyphicon glyphicon-wrench"></span> Needs Improvement</a>
                            <a href="/categories/create"><span class="glyphicon glyphicon-tags"></span> Add category</a>
                            <a href="/pages/trash"><span class="glyphicon glyphicon-trash"></span> Recycle Bin</a>
                        </div>
                    </div>
                {{end}}
            </li>
            <li><a class="glyphicon glyphicon-blackboard" href="/blackboard"></a></li>
            <li>
                {{if eq .UserLoggedIn "Unauthorized"}}
                    <div class="dropdown">
                        <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                        <div class="dropdown-content-right">
                            <a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        </div>
                    </div>
                {{else}}
                    <div class="dropdown">
                        <button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
                        <div class="dropdown-content-right">
                            <a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                        </div>
                    </div>
                {{end}}
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn"><span class="glyphicon glyphicon-cog"></span>
                    </button>
                    <div class="dropdown-content">
                        {{if eq .UserLoggedIn "Unauthorized"}}
                            <a href="/users/create"><span class="glyphicon glyphicon-user"></span> Create user</a>
                        {{else}}
                            <a href="/users/create"><span class="glyphicon glyphicon-user"></span> Create user</a>
                            <a href="/ticket/new"><span class="glyphicon glyphicon-earphone"></span> Create Ticket</a>
                            <a href="/ticket/queue"><span class="glyphicon glyphicon-inbox"></span> Ticket Queue</a>
                        {{end}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
        <div class="clearfix"></div>
        <div class="container">
            <div class="header-text">
                <h1>{{.Title}} {{ if eq .Deleted 1 }} (deleted) {{end}}</h1>
            </div>
            <div style="font-size: 25px;">
                <a href="/pages/view/raw/{{.InternalId}}"><span class="glyphicon glyphicon-download-alt"></span></a>
                {{if eq .UserLoggedIn "Unauthorized"}}
                    <a id="ModalButtonHistory" href="#"><span class="glyphicon glyphicon-time"></span></a>
                {{else}}
                    <a href="/pages/edit/{{.InternalId}}"><span class="glyphicon glyphicon-pencil"></span></a>
                    {{if eq .Liked 2}}
                        <a href="/pages/like/{{.InternalId}}"><span class="glyphicon glyphicon-heart-empty"></span></a>
                    {{else if eq .Liked 1}}
                        <a href="/pages/like/{{.InternalId}}"><span class="glyphicon glyphicon-heart"></span></a>
                    {{else if eq .Liked 0}}
                        <a href="/pages/like/{{.InternalId}}"><span class="glyphicon glyphicon-heart-empty"></span></a>
                    {{end}}
                    {{if eq .Repair 2}}
                        <a id="ModalButtonNeedsImprovement" href="#"><span class="glyphicon glyphicon-wrench"></span></a>
                    {{else if eq .Repair 1}}
                        <a href="/pages/repair/{{.InternalId}}"><span class="glyphicon glyphicon-exclamation-sign"></span></a>
                    {{else if eq .Repair 0}}
                        <a id="ModalButtonNeedsImprovement" href="#"><span class="glyphicon glyphicon-wrench"></span></a>
                    {{end}}
                    <a id="ModalButtonHistory" href="#"><span class="glyphicon glyphicon-time"></span></a>
                    <a id="ModalButton" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                {{end}}
            </div>
            <div>
                Created by {{.CreatedBy}} on {{.DateCreated}} UTC
                {{ if .LastModifiedBy }}
                <br>
                Last Modified by {{.LastModifiedBy}} on {{.LastModified}} UTC
                {{ end }}
                <br>
                {{ if .Tags }}
                    Categories:
                    {{ range $i, $el := .Tags }}
                        <div class="categories">{{ $el }}</div>
                    {{ end }}
                {{ end }}
            </div>
            <br>
            <div>{{.DisplayBody}}</div>
        </div>
        <div class="clearfix"></div>
        <div class="container">
            <div>
                <h1>Comments</h1>
            </div>
            <div>
                {{if eq .UserLoggedIn "Unauthorized"}}
                {{else}}
                <div class="found">
                    <h1 class="comment-collapsible">Add new</h1>
                    <div>
                        <form action="/comments/create/{{.InternalId}}" method="POST">
                            <div class="control-group">
                                <div class="controls">
                                    <span id="comment_title"></span>
                                    Short Description: <textarea onkeyup='validate_form();' id="comment_title_value" name="comment_title" cols="1"></textarea>
                                </div>
                                <div class="controls">
                                    <span id="comment_message"></span>
                                    Body: <textarea onkeyup='validate_form();' id="comment_message_value" name="comment_message" rows="10" cols="80"></textarea>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input id="submit-button" type="submit" value="Send" disabled>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {{end}}
                <div>{{.DisplayComment}}</div>
            </div>
            {{if eq .UserLoggedIn "Unauthorized"}}
            <script type="text/javascript" src="/lib/edit-noperms.js"></script>
            {{else}}
            <script type="text/javascript" src="/lib/edit.js"></script>
            {{end}}
        </div>
        <div class="container">
            &nbsp;2020 © <a href="http://www.github.com/zerodayz" rel="noreferrer" target="_blank">Robin Černín</a>. Brisbane, Australia.
        </div>
</body>

</html>